:root {
  --primary: #ededed;
  --secondary: #aaaaaa;
}

@font-face {
  font-family: 'BMEULJIRO';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/BMEULJIRO.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BMDOHYEON';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BMJUA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'IM_Hyemin-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ELAND_Nice_M';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Nice_M.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'EliceDigitalBaeum_Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/EliceDigitalBaeum_Bold.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  font-family: EliceDigitalBaeum_Bold;
  height: 100%;
  /*overflow: hidden;*/
}
body {
  background-color: #333333;
  color: var(--primary);
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: 0 auto;
}

header {
  text-align: left;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  color: var(--secondary);
}

header > div:nth-child(1) {
  color: var(--primary);
}
header > div:nth-child(2) {
  color: var(--secondary);
}

section {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

section .message {
  text-align: left;
  font-family: ELAND_Nice_M;
  font-size: 40px;
  flex: 1;
  vertical-align: bottom;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 10px;
  line-height: 55px;
}
section .address {
  font-size: 20px;
  text-align: right;
  flex: 1;
}

footer {
  font-size: 14px;
  text-align: right;
  cursor: pointer;
  padding: 20px;
  color: var(--secondary);
}

footer > details > ul {
  list-style: none;
  padding: 0;
}

footer > details > ul > li {
  text-align: left;
  padding: 20px 0;
}

footer > details > ul > li > .address {
  font-style: italic;
}

footer > details > ul > li > .message {
  line-height: 25px;
  margin-top: 5px;
}

.hidden {
  display: none;
}

@media screen and (max-width: 769px) {
  body {
    padding: 0;
  }
  section .message {
    font-size: 30px;
    line-height: 40px;
  }
}
