html,
body {
  height: 100%;
  /*overflow: hidden;*/
}
body {
  background-color: #333333;
  color: #ededed;
  display: flex;
  flex-direction: column;
  padding: 20px;
  max-width: 700px;
  margin: 0 auto;
}

header {
  text-align: left;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
section {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

section .message {
  font-size: 40px;
  flex: 1;
  vertical-align: bottom;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 10px;
  line-height: 55px;
}
section .address {
  font-size: 20px;
  text-align: right;
  flex: 1;
}

footer {
  text-align: right;
  cursor: pointer;
}

footer > details > ul {
  list-style: none;
}

footer > details > ul > li > .message {
  text-align: left;
  line-height: 25px;
  margin-bottom: 5px;
}
footer > details > ul > li {
  padding: 20px 0;
}

@media screen and (max-width: 769px) {
  section .message {
    font-size: 30px;
    line-height: 40px;
  }
}
